<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>facebook-auth Demo</title>
    <script src="../webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="facebook-auth.html">
    <link rel="import" href="../core-signals/core-signals.html">
  </head>
  <body unresolved>
    <p>An `facebook-auth` looks like this:</p>

    <template id="demo" is="auto-binding">

      <facebook-auth
          id="fbAuth"
          appID="{{appID}}"
          scopes="{{scopes}}"
          state="{{fbAuthState}}"
          ></facebook-auth>

      <pre>
        &lt;facebook-auth
          id="fbAuth"
          appID="{{appID}}"
          scopes="{{scopes}}"
          state="{{fbAuthState}}"
          &gt;&lt;/facebook-auth&gt;
      </pre>

      <p>
        <label>AppID:</label>
        <input type="text" id="appID" value="{{appID}}"></input>
        <button on-click="{{setup}}">Setup (and login)</button>
        <br/>
        <label>Scopes:</label>
        <input type="text" id="scopes" value="{{scopes}}"></input>
      </p>

      <button on-click="{{fbLogin}}">Login</button>
      <button on-click="{{fbLogout}}">Logout</button>
      <button on-click="{{fbGetPermissions}}">Get permissions</button>

      <p>
        <strong>Facebook auth state:</strong>
        {{fbAuthState}}
      </p>

      <p>
        <strong>Facebook permissions:</strong>
        {{permissions}}
      </p>

      <core-signals
        on-core-signal-facebook-auth-success="{{fbSuccess}}"
        on-core-signal-facebook-auth-not-authorized="{{fbNotAuthorized}}"
        on-core-signal-facebook-auth-not-logged-in="{{fbLoggedOut}}"
        on-core-signal-facebook-auth-permissions-ready="{{fbPermissions}}"></core-signals>
    </template>

    <script>
      var demo = document.querySelector("#demo");

      demo.permissions = "Click get permissions";

      demo.setup = function() {
        this.$.fbAuth.setup();
      }

      demo.fbAuthStateChanged = function() {
        console.log("State changed");
      }

      demo.fbLogin = function(e) {
        e.preventDefault();
        this.$.fbAuth.login();
      }

      demo.fbLogout = function(e) {
        e.preventDefault();
        this.$.fbAuth.logout();
      }

      demo.fbGetPermissions = function(e) {
        e.preventDefault();
        this.$.fbAuth.getPermissions();
      }

      demo.fbSuccess = function(e) {
        console.log("Logged in", e);
      }

      demo.fbNotAuthorized = function(e) {
        console.log("Not authorized", e);
      }

      demo.fbLoggedOut = function(e) {
        console.log("Logged out - should not use for web", e);
      }

      demo.fbPermissions = function(e) {
        this.permissions = JSON.stringify(this.$.fbAuth.permissions);
      }
    </script>
  </body>
</html>
