<link rel="import" href="../polymer/polymer.html">

<!--
A simple Facebook authentication element using core-signals.
Inspired by:

https://github.com/davidwittenbrink/facebook-login

Here are the differences:

- Use core-signals since to broadcast the authentication events
- Allows you to use your own Facebook login button, i.e. no fb:login-button.
- Easy checking for permissions incase you need to re-request more private ones later.

##### Example

    <facebook-auth appID="123456"></facebook-auth>

@element facebook-auth
@blurb A simple Facebook authentication element using core-signals.
@status beta
@homepage http://ianbibby.github.io/facebook-auth
-->
<polymer-element name="facebook-auth" attributes="appID scopes state">
  <script>

    (function() {

      // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        var name = null;
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          name = 'facebook-auth-success';
          handler.state = 'connected';
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          name = 'facebook-auth-not-authorized';
          handler.state = 'not_authorized';
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
          name = 'facebook-auth-not-logged-in';
          handler.state = 'not_logged_in';
        }
        handler.fire('core-signal', { name: name, data: response.authResponse });
      };

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      };

      var handler;

      Polymer({
        /**
         * Facebook appID.
         *
         * @attribute appID
         * @type string
         * @default null
         */
        appID: null,

        /**
         * Requested Facebook scopes.  Must be space-delimited.
         *
         * @attribute scopes
         * @type string
         * @default null
         */
        scopes: "public_profile",

        /**
         * Granted/declined Facebook permissions.  Published for easy read-only two-way binding.
         * Requires that you call #getPermissions first.
         *
         * @attribute permissions
         * @type Object
         * @default null
         */
        permissions: null,

        /**
         * Facebook authentication state.  Published for easy read-only two-way binding.
         *
         * @attribute state
         * @type string
         * @default null
         */
        state: null,

        ready: function () {
          if (!this.appID) {
            console.error("Facebook appID is required!");
            return;
          }

          this.setup();
        },

        /**
         * Adds all of the Facebook boilerplate JS for you and checks the authentication state.
         * Called automatically by #ready.
         *
         * @method setup
         */
        setup: function() {
          handler = this;

          window.fbAsyncInit = function() {
            FB.init({
              appId      : handler.appID,
              cookie     : true,  // enable cookies to allow the server to access
                                  // the session
              xfbml      : true,  // parse social plugins on this page
              version    : 'v2.1' // use version 2.1
            });

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.
            handler.getLoginStatus();
          };

          if(typeof(FB) == 'undefined') {
            // Load the SDK asynchronously
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
          }
        },

        /**
         * Perform Facebook login using the provided scopes.
         *
         * @method login
         */
        login: function() {
          FB.login(function(response) {
            statusChangeCallback(response);
          }, { scope: this.scopes });
        },

        /**
         * Perform Facebook logout.  Note that this is here only for completeness and does not really work on the web.
         * Facebook states that a user should ideally use Facebook itself to perform a logout.
         *
         * @method logout
         */
        logout: function() {
          FB.logout(function(response) {
            statusChangeCallback(response);
          });
        },
        /**
         * Gets the Facebook login status.
         *
         * @method getLoginStatus
         */
        getLoginStatus: function() {
          FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
          });
        },

        /**
         * Performs a Facebook API request using the current accessToken to acquire the permissions granted/declined for the app.
         * When the data is available, a 'facebook-auth-permissions-ready' signal is fired, at
         which time you can query the permissions property.
         *
         * @method getPermissions
         */
        getPermissions: function() {
          FB.api('/me/permissions', function(response) {
            var data = response.data;
            handler.permissions = { "granted": [], "declined": [] };
            for (var i = 0; i < data.length; i++) {
              handler.permissions[data[i].status].push(data[i].permission);
            }
            handler.fire('core-signal', { name: "facebook-auth-permissions-ready", data: handler.permissions });
          });
        }

        /**
         * The `facebook-auth-success` event is fired when successfully logged in with Facebook and your application.
         *
         * @event facebook-auth-success
         */

        /**
         * The `facebook-auth-not-authorized` event is fired when successfully logged in with Facebook but not your application.
         *
         * @event facebook-auth-not-authorized
         */

        /**
         * The `facebook-auth-not-logged-in` event is fired when the user is not logged into Facebook.  Note that you can't be sure if they've added your application here.
         *
         * @event facebook-auth-not-logged-in
         */

        /**
         * The `facebook-auth-permissions-ready` event is fired when the Facebook permissions have been retrieved, following a call from #getPermissions.
         *
         * @event facebook-auth-permissions-ready
         */

      });
    })();
  </script>
</polymer-element>
